<div class="pre-loader" *ngIf="apiResponsesLoderFlag.length>0">
  <img src="{{AJAX_LOADER_PIC_WITH_PATH}}" class="ajax-loader" />
</div>
<div class="pre-loader" *ngIf="apiResponsesLoderFlag.length>0">
  <img src="{{AJAX_LOADER_PIC_WITH_PATH}}" class="ajax-loader" />
</div>
<div id="content" class="capitalize">
  <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-6">
      <h3 class="page-title txt-color-blueDark">
        <i class="{{isAdd ? 'fa fa-save' : 'fa fa-edit'}} fa-fw"></i>
        <span class="capitalize"> Employee</span>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <fieldset>
        <div class="widget-body panel panel-default">
          <legend class="margin-bottom-10 margin-left-right-8px capitalize" >
            {{(isAdd ? 'Creation':'Updation')}}
            <div class="col-sm-2 col-xs-5 pull-right text-right">
              <a routerLink="{{employeeListLink}}" class="btn-sm btn-info">
                <i class="fa fa-backward"></i> Back to listing
              </a>
            </div>
          </legend>

          <div style=" margin:50px;">

            <div *ngIf="apiResponseMessage.length>0" class="alert alert-success alert-custom">
              <button class="close" data-dismiss="alert"> × </button>
              <div [hidden]="apiResponseMessage.length ==0">{{apiResponseMessage}}</div>
            </div>
            <div *ngIf="errorMessage.length>0" class="alert alert-danger alert-block">
              <button class="close" (click)="resetApiResponseMessage()"> × </button>
              <div [hidden]="errorMessage.length ==0">{{errorMessage}}</div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <label>ID</label>
                <div class="form-control" disabled="true">
                {{employeeForm.id}}
                </div>
              </div>
              <div class="col-sm-3">
                <label>First Name</label>
                <input type="text" [(ngModel)]="employeeForm.firstName" name="employeeFirstName" class="form-control">
              </div>
              <div class="col-sm-3">
                <label>Last Name</label>
                <input type="text" [(ngModel)]="employeeForm.lastName" name="employeeLastName" class="form-control">
              </div>
              <div class="col-sm-3">
                <label>Email Id</label>
                <input type="text" [(ngModel)]="employeeForm.emailId" name="email" class="form-control">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <label>Age</label>
                <input type="number" [(ngModel)]="employeeForm.age" name="age" class="form-control">
              </div>
              <div class="col-sm-3">
                <label>Gender</label>
                <div class="select">
                  <select class="form-control drop-down" name="gender" [(ngModel)]="employeeForm.gender">
                    <option value="">Select Gender</option>
                    <option  value="male">Male</option>
                    <option  value="female">Female</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-3">
                <label>Address</label>
                <input type="text" [(ngModel)]="employeeForm.address" name="address" class="form-control">
              </div>
            </div>
            <div class="row" style="margin-top:20px;">
              <div class="col-sm-6"></div>
              <div class="col-sm-3">
                <button class="btn btn-primary btn-block" (click)="submit()">
                  {{ isAdd ==true? 'Add' : 'Edit'}}
                </button>
              </div>
              <div class="col-sm-3">
                <button type="reset" class="btn btn btn-danger btn-block" (click)="reset()">
                  <i class="fa fa-dot-circle-o"></i> Reset
                </button>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </div>