<div class="pagination-container" *ngIf="totalRecordCounts>0">
  <div class="pull-left hidden-xs">
    <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">
      Showing {{((pager.currentPage || 1) -1)*pageSize+1}} to {{((pager.currentPage  || 0)*pageSize) >= totalRecordCounts ? totalRecordCounts : ((pager.currentPage  || 0)*pageSize)}} of {{totalRecordCounts  || 0}} entries
    </div>
  </div>
  <ul *ngIf="pager.pages && pager.pages.length" class="pagination pull-right" style="margin:0">
    <li [ngClass]="pager.currentPage === 1 ? 'disabled':'cursor-pointer'">
      <a (click)="getListAccordingPageNumber(1)">First</a>
    </li>
    <li [ngClass]="pager.currentPage === 1 ? 'disabled':'cursor-pointer'">
      <a (click)="getListAccordingPageNumber(pager.currentPage - 1)">Previous</a>
    </li>
    <li [ngClass]="{disabled:true}" *ngIf="pager.isLeftMorePages" >
      <a>...</a>
    </li>
    <li *ngFor="let page of pager.pages" [ngClass]="pager.currentPage === page ? 'cursor-pointer active' : 'cursor-pointer'">
      <a (click)="getListAccordingPageNumber(page)">{{page}}</a>
    </li>
    <li [ngClass]="{disabled:true}" *ngIf="pager.isRightMorePages" >
      <a>...</a>
    </li>
    <li [ngClass]="pager.currentPage === pager.totalPages ? 'disabled':'cursor-pointer'">
      <a (click)="getListAccordingPageNumber(pager.currentPage + 1)">Next</a>
    </li>
    <li [ngClass]="pager.currentPage === pager.totalPages ? 'disabled':'cursor-pointer'">
      <a (click)="getListAccordingPageNumber(pager.totalPages)">Last</a>
    </li>
  </ul>
  <div class="clearfix"></div>
</div>